doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title title
        block style
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css")
        block scripts
            //script(src="./node_modules/babel-polyfill/dist/polyfill.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js")
            script(src="./js/main.js" type="module")
    body
        block content
            .uk-container.uk-margin-large-bottom
                .preloader.uk-text-center.uk-margin
                    .uk-align-center.uk-display-inline-block(uk-spinner="ratio: 2")
                .errors.uk-margin.uk-alert-warning.uk-hidden(uk-alert)
                div.uk-margin Список экстрасенсов
                    .psychicsContainer.uk-child-width-1-3.uk-grid-small.uk-grid-match(uk-grid)
                div.uk-margin Догадки экстрасенсов
                    .guessesContainer.uk-child-width-1-3.uk-grid-small.uk-grid-match(uk-grid)
                .uk-margin
                    .start.uk-hidden
                        button.uk-button.uk-button-default загадал число, жду догадок
                    form#form.uk-hidden
                        .answer
                            fieldset.uk-fieldset
                                .uk-margin
                                    legend.uk-legend Введите загаданное число
                                .uk-margin
                                    input.uk-input(type="number" min="10" max="99" required="" name="number" autocomplete="off")
                                .uk-margin
                                    button.uk-button.uk-button-default Правильный ответ