doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title title
        block style
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css")
        block scripts
            //script(src="./node_modules/babel-polyfill/dist/polyfill.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js")
            script(src="./js/main.js")
    body
        block content
            .uk-container
                .errors.uk-margin.uk-alert-warning.uk-hidden(uk-alert)
                div.uk-margin Список экстрасенсов
                    .psychics
                div.uk-margin Догадки экстрасенсов
                    .guesses

                .uk-margin
                    form#form
                        .start
                            button.uk-button.uk-button-default start
                        .answer.uk-hidden
                            input(type="number" min="10" max="99")
                            button.uk-button.uk-button-default Правильный ответ